body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.app_wrapper {
  width: 100%;
  min-height: 100vh;
  /* CSS variables */
  --pink: #ff6978;
  --darkgrey: #454545;
  --lightgrey: #ababab;
  --whiteIsh: #f3f5f7;
}

/* pr0file card CSS */
.card {
  border: solid 1px #ccc;
  background: var(--whiteIsh);
  border-radius: 5px;
  width: 250px;
  margin: 12px;
  font-size: 16px;
}

.card_img {
  width: 100%;
  border: 0;
}

.card_name {
  padding: 8px;
  text-align: center;
  background: inherit;
  color: var(--darkgrey);
}

.card_points_tab {
  display: flex;
  justify-content: flex-start;
  margin: 8px;
}

.card_points {
  flex-grow: 1;
  flex-basis: 50%;
}

.card_points_time {
  text-align: center;
  font-size: 80%;
  color: var(--lightgrey);
}

.card_points_value {
  text-align: center;
  font-size: 120%;
  color: var(--pink);
}

/* profile card CSS ended */

/* Header CSS */
.header {
  display: flex;
  flex-direction: column;
}

.header_tagline {
  color: var(--pink);
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Courgette', cursive;
}

.header_small {
  font-size: 75%;
}

.header_selector {
  display: flex;
  justify-content: center;
  margin: 12px;
}

/* checkbox switch */
.form_label {
  position: relative;
  width: 60px;
  height: 25px;
  background: var(--whiteIsh);
  border-radius: 1rem;
  cursor: pointer;
}

.form_label:after {
  content: 'All time';
  position: absolute;
  right: -70px;
}

.form_label:before {
  content: 'Last 30 days';
  position: absolute;
  left: -100px;
}

.form_label .form_checkbox {
  visibility: hidden;
}

.form_label .form_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--pink);
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.form_label:hover {
  box-shadow: 1px 1px 2px var(--lightgrey);
}

input:checked + .form_slider {
  transform: translateX(100%)
}


/* header CSS ended */

/* profile wrapper */
.profiles_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 860px;
}